body {
  background: linear-gradient(
    to bottom,
    rgb(25, 107, 201) 0%,
    rgb(15, 8, 2) 99%,
    rgb(2, 1, 0) 99%
  );
  height: 100vh;
  font-family: Poppins;
  color: aliceblue;
}

.heading {
  font-weight: 600;
  font-size: large;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.099);
  width: 600px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group select {
  appearance: none;
  -webkit-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 20px;
  padding-right: 40px;
}

.form-group textarea {
  height: 100px;
  resize: none;
}

.form-group button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#firstName {
  padding: 5px;
  margin-right: 5px;
}

#lastName {
  margin-left: 5px;
}

.name-group {
  display: flex;
}

.address-group {
  display: flex;
}

.address-group .form-group {
  flex: 1;
  margin-right: 5px;
}

.address-group .form-group:last-child {
  margin-right: 0;
}
