@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: Montserrat;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(12, 179, 225);
}

nav ul {
  list-style: none;
}

nav ul li {
  /* color: antiquewhite; */
  display: inline;
}

nav ul li a {
  color: antiquewhite;
  display: inline;
}
